@import url("https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  transition: all 0.5s ease;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  min-width: 350px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

#backtop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: 4px solid #ffd050;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}
#backtop a {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffd050;
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 25px 0;
  background-color: #232536;
}
nav .navcontainer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}
nav .navcontainer .hamburger .uil-bars {
  cursor: pointer;
  color: #f4f0f8;
  font-size: 35px;
}
nav .navcontainer .navlinks a {
  margin: auto 12px;
  font-family: "Inter", sans-serif;
  color: #f4f0f8;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
}
nav .navcontainer .navlinks .navbutton {
  margin-left: 20px;
  transform: scale(1);
  background-color: #f4f0f8;
  color: #232536;
  font-family: "Sen", sans-serif;
  border: none;
  padding: 16px 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
nav .navcontainer .navlinks .navbutton:hover {
  background-color: #edc14a;
  text-decoration: none;
}
nav .navcontainer .navlinks .navbutton a {
  color: var(--black, #232536);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}
nav .navcontainer #navbar-responsive {
  transition: all 0.5s ease;
  display: block;
  position: fixed;
  top: -100%;
  left: 0;
  bottom: 0;
  height: 300px;
  width: 100%;
  text-align: center;
  background-color: rgba(35, 37, 54, 0.8941176471);
}
nav .navcontainer #navbar-responsive .uil-multiply {
  cursor: pointer;
  padding: 25px 30px;
  color: #f4f0f8;
  font-size: 35px;
  position: absolute;
  right: 0px;
}
nav .navcontainer #navbar-responsive .hamcontent {
  padding: 25px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
nav .navcontainer #navbar-responsive .hamcontent a {
  margin: 10px;
  font-family: "Inter", sans-serif;
  color: #f4f0f8;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

@media (min-width: 800px) {
  .navbutton {
    display: block;
  }
  .hamburger {
    display: none;
  }
  #navbar-responsive {
    display: none;
  }
  .navlinks {
    display: flex;
  }
}
footer {
  background-color: #232536;
  margin-top: 73px;
}
footer .footer-bottom {
  padding: 48px 0 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
footer .footer-bottom .footer-bottom-left p {
  font-family: "Inter", sans-serif;
  color: #f4f0f8;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
footer .footer-bottom .footer-bottom-right {
  display: flex;
  gap: 26px;
}
footer .footer-bottom .footer-bottom-right img {
  width: 16px;
  height: 16px;
}

@media (min-width: 600px) {
  .footer-bottom {
    flex-direction: inherit;
  }
}
@media (min-width: 1350px) {
  footer {
    background-color: #232536;
  }
  .footer-bottom {
    padding: 48px 0 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  .footer-bottom-left p {
    font-family: "Inter", sans-serif;
    color: #f4f0f8;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  .footer-bottom-right {
    display: flex;
    gap: 26px;
  }
  .footer-bottom-right img {
    width: 16px;
    height: 16px;
  }
}
.blog_section .foto-sec {
  max-width: 100%;
  margin-top: 156px;
}
.blog_section .banner {
  max-width: 800px;
  padding: 63px 0;
  flex-wrap: wrap;
  margin: auto;
}
.blog_section .banner .foto-andrey {
  display: flex;
  align-items: center;
}
.blog_section .banner .foto-andrey .foto {
  width: 53px;
  height: 53px;
  flex-shrink: 0;
}
.blog_section .banner .foto-andrey .foto-text {
  margin-left: 17px;
}
.blog_section .banner .foto-andrey .foto-text h4 {
  color: var(--purple, #592ea9);
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  opacity: 0.8700000048;
}
.blog_section .banner .foto-andrey .foto-text h5 {
  color: var(--medium-grey, #6D6E76);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.blog_section .banner h2 {
  color: var(--black, #232536);
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin-top: 24px;
}
.blog_section .banner p {
  color: var(--black, #232536);
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-top: 34px;
}
.blog_section .info {
  max-width: 700px;
  padding: 64px 0;
  flex-wrap: wrap;
  margin: auto;
}
.blog_section .info .info-1 {
  color: var(--medium-grey, #6D6E76);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.blog_section .info .info-2 {
  margin-top: 24px;
}